body{
    background-color: #E0E0E0;
    font-family: 'IBM Plex Sans', sans-serif;
}

    .logoAcolsure{
        width: 100px;
        height: auto;
    }
.menu li a{
    color: antiquewhite;
}
.menu li a:hover{
    color: rgb(244, 82, 82);
}
nav{
    background-color: #023867;
}
.navbar-brand{

	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.sublista li a{
    color: #49aaff
}
.sublista li a:hover{
    color: #de2f2f;
}
.sublista{
    background-color: #023867;
}
.hamburguesa{
    background-color: #023867;  
}
.hamburguesa:hover{
    background-color:   #fff;
}

footer{
    background-color: #023867;
    
}
.logoEmpresa{
    width: 100px;
    height: auto ;  
 
}
.redes a i{
    color: #fff;
}
.redes a i:hover{
    color: #49aaff;
    transform: scale(0.9);
    transition: 1s;
}
.derechosFooter a{
    text-decoration: none;
}

.irArriba{
    display: inline-block;
    padding: 20px;
    background:rgb(204, 33, 33);
    font-size: 20px;
    color : white;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 10px;


  }
  .irArriba:hover{
    background: #49aaff;
    color: rgb(255, 244, 244);
    transition: 1s; 
  }

  .imagenes,.imagenesHistoria{
    width : 100%;
    border: 2px solid #49aaff;
  }
  .imgQuines{
    border:none;
    padding-right: 10px;

   
  }
  .imagenes:hover ,.imagenesHistoria:hover{
    transform: scale(0.98);
    transition: 1s;
  }
  .tablaAjuste{
    position: relative;
    right: 12px;
  }

  
  tr{
    text-align: center;
    border: #023867;

  }

/* .botonInscripción,.descEvento,.idEvento,.fechaEvento{
    position: relative;
    top: 70px;
} */
.imagenesTabla{
    width: 100px;
    height: auto;
    border-radius: 20px;
    border: 2px solid #023867;
}
.imagenesTabla:hover{
    transform: scale(0.98);
    transition: 1s;
}
.ajustarUbicacion{
    border: 2px solid #023867; 
    margin-bottom: 10px;

}
.ajustarUbicacion:hover{
    transform: scale(0.98);
    transition: 1s;
}
.imagenUbicacion{
    width: 100%;
    height : 500px;
    

}
/* .ajustarInputs{
    width: 400px;
} */
.subsection{
    display: flex;
    justify-content: center;
    
}
.formularioForm{
    background-color: #49aaff;
    padding: 40px;
    border-color: rgb(245, 54, 33);
    border-radius: 10px ;
    box-shadow: 0px 0px 10px #000;
    margin-bottom: 15px;
}
 .botonEnviar{
    margin-top: 10px;
    float: right;

} 

.probar {
    margin-top: 10px;
    background-image: url("img/prueba.gif");
    background-size: cover;
    width: 100%;        
    height: 150px;

}


.seccionEventos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
  .seccionEventosAjustes{
   width: 100%;
   border: 2px solid #023867;

  } 
  .seccionEventosAjustes a img{
    float: left;
    height: 300px;
    object-fit: cover;
    transition: 1s all;
   
  }
  .seccionEventosAjustes a img:hover{
    transform: scale(1.02);
   
  }

  .afiliacion{
    background-image: url("img/fondo.jpeg") ;
    background-size: cover;
  } 

  @media screen and (min-width: 768px) {
    .imagenes{
        width : 40%;
      }
      .formularioForm{
     
        margin-bottom: 15px;
        width: 50%;    

    }
    .imagenesTabla{
        width: 100%;
        height: auto;
        border-radius: 20px;
        border: 2px solid #023867;
    }
    .probar {
        margin-top: 10px;
        background-image: url("img/prueba.gif");
        background-size: cover;
        width: 100%;        
        height: 500px;
    
    }
    .seccionEventosAjustes a img{
        float: left;
        width:  100%;
        height: 700px;
        object-fit: cover;
        transition: 1s all;
       
      }
  }

