 *{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
html {
    scroll-behavior: smooth;
    
   
   
}
body{
    
    background-color: #49aaff;
   
}

/* Cel style */

    .grid{
        display: grid;
        grid-template-areas: "header nav nav nav" 
                            "article article article article"
                            "article article article article" 
                            "article article article article" 
                            "article article article article" 
                            "article article article article" 
                         
                            "footer footer footer footer"; 
        min-height: 100vh; 
        
    }
    .grid > header{
        grid-area: header;
        background-color: #023867;
        
        
    }
    
    .grid > nav{
        grid-area: nav;
        background-color: #023867;
       
       
    }
    
    .grid > article{
        grid-area: article;
        border: 1px solid black;
    }
    
    .grid > footer{
        grid-area: footer;
        border: 1px solid black;
        background-color: #023867;
    }

    header{
        display: flex;
        justify-content: start;
        align-items: center;
       

        background-color: #78b3e6;
      
    }
    /* .container--header a:hover{
        color: #90c0eb;
    }
    .container--header a:hover img{
        transition: 1s;
        transform: scale(1.05);
    } */
    header a{
        color: antiquewhite;
    }

    header a:hover{
        color: #90c0eb;
    }
    .logoAcolsure:hover{
        transition: 4s;
        transform: scale(   .80);
    }
    .logoAcolsure{
        width: 100px;
        height: auto;
       
    }

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center; 
    }
    .checkbtn{
        color: aliceblue;
        cursor: pointer;    
    }
    .checkbtn:hover{
        color: #90c0eb;
        transition: 2s;
        transform: scale(1.5);

    }
    .menu{
    position: fixed;
    right: 7px;
    top: 35px;
    background: rgba(36, 128, 209, 0.2);
    text-align: center;
    transition: all 0.5s ;

    }
    .menu li{
        display: none;
        margin: 0 10px;
        cursor: pointer;
        list-style: none;
        margin: 50px 0 ;
        transition: all 0.5s ;
       
    }
    .menu li:hover{
        background: rgba(36, 128, 209, 0.5);
    }
    .menu li a{
        color: aliceblue;
        text-decoration: none;
        font-size: 20px;
        /* text-transform: uppercase; */
    }
    .menu li a:hover, .menu li a.active{
        color: rgb(216, 18, 18);
    }
    #check{
        display: none;
    }
    #check:checked ~ .menu{
     
       
        transform: translateX(0); 
        transition: all 0.5s ;

    }
    #check:checked ~ .menu li{
        transform: translateX(1); 
        display: block;
        transition: all 0.5s ;
    }
    .menu ul{
        position: absolute;
        display: none;
        background: rgba(36, 128, 209, 0.8);
        list-style: none;
    }
    .menu ul li{
        display: block;
        
        border-bottom: 1px solid rgb(0, 0, 0);
    }
    .menu  li:hover ul{
        display: block;
    }


    /* Footer */

    
    footer{
   
        background-color: #023867;
        color: rgb(248, 248, 248);
        padding: 25px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
        
    }
    .a__iconosRedes{
        width: 50px;
        height: 50px;
      
    }
    
    .logoEmpresa{
        width: 280px;
        height: auto ;  
     
    }
    
    
    .redesFooter__listaRedes{
        display: flex;
        justify-content: center;
        align-items: center;
      
      
    }
    .redesFooter__listaRedes li {
        width: 80px;
        height: 50px;
        list-style: none;
    }
    .redesFooter__listaRedes li a:hover{
        transition: 2s;
        transform: scale(1.2);
        background: linear-gradient(45deg,   #023867, #df1616);
        animation: gradient 15s ease infinite;
        /* background-color: #90c0eb; */
    }
    @keyframes gradient {
        0% {
            background: linear-gradient(30deg,   #023867,#49aaff, #df1616);
        }
        50% {
            background: linear-gradient(-45deg,   #023867,#49aaff ,#df1616);
        }
        100% {
            background: linear-gradient( 50deg,  #023867,#49aaff,#df1616);
        }
    }
    
    .ft-legal-list {
    
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin-left: 55px;
   
        
      }
        .ft-legal-list li  a{
            
            text-decoration: none;
            color: rgb(255, 252, 252); 
        }

    


      .ft-legal-list li:nth-last-child(0) {
        
          flex: 1;
          
      }
    
    
      .redesFooter__listaRedes li{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
      }
      .redesFooter{
          padding: 30px 0px;
      }
      .mainFooter img{
          width: 100px;
          height: 100px;
      }

      .irArriba{
        display: inline-block;
        padding: 20px;
        background:rgb(204, 33, 33);
        font-size: 20px;
        color : white;
        cursor: pointer;
        position: fixed;
        bottom: 10px;
        right: 10px;
        border-radius: 10px;

    
      }
      .irArriba:hover{
        background: #49aaff;
        color: rgb(255, 244, 244);
        transition: 1s;
        border: 3px solid transparent;
        border-radius: 11spx;
        border-image: linear-gradient(45deg,#023867,rgb(204, 33, 33)) 1;
        
      }


      /* index styles */
      .titulo{
        text-align: center;
        margin-top: 5px;
      }
      .sections__subtitulos{
        margin-top: 10px;
     
     
    }
    /* Estilo de las imagenes */
    
    .imagen{
        width: 100%     ;
        height: auto;
        float: left;
        clear: left;
        border: 2px solid #0e1318;
        margin-top: 5px;
        margin-right: 6px;
    }
    .imagen:hover{

        transition: 1s;
        transform: scale(1.03);
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .imagen2{
        width: 100%     ;
        height: auto;
        float: right;
        clear: right;
        border: 2px solid #0e1318;
        margin-top: 5px;
        margin-left: 8px;
    }
    .imagen2:hover{

        transition: 1s;
        transform: scale(0.99);
        margin-top: 10px;
        margin-bottom: 10px;

    }
    .sections{
       
        padding: 15px;
   
        text-align: justify;

    }
    /* Estilo historia */
    .contentComoEmpezo__img{
        width: 100%;
        height: auto;
        float: left;
        clear: left;
        border: 2px solid #0e1318;
        margin-top: 5px;
        margin-right: 6px;
    }
    .contentComoEmpezo__img:hover{

        transition: 1s;
        transform: scale(1.03);
        margin-top: 5px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-top: 5px;
     
    }
    .content{

        padding: 20px;
        margin:10px auto;
        text-align: justify;
    }

    /* estilos eventos */
    .agruparSections{
        padding: 4px;
        
        text-align: justify;
    }
    .estiloTabla{
       
        width: 100%;
        max-width: 1000px;
        margin: auto;
        border: 3px solid #0e1318;
        
    
    }
    
    .estiloTabla td{
        border: 3px solid #0e1318;
        text-align: center;
    }
    .imagenesTabla{
        width: 100px;
        height: auto;
       border-radius: 20px;
       border:  3px solid #eaf2f9;
    
    }
    .imagenesTabla:hover{
        transition: 2s;
        transform: scale(1.04);
        margin-top: 5px;
        border: 3px dashed rgb(245, 54, 33);

    }
    /* estilo afiliacion */
    .subtitulo{
        margin-top: 10px;
        text-align: center;
       
    }
    .formularioForm{
        margin-top: 10px;
        width: 100%;
        max-width: 260px;
        background-color: #49aaff;
        padding: 40px;
        border-color: rgb(245, 54, 33);
        border-radius: 10px ;
        box-shadow: 0px 0px 10px #000;
    }
    .subsection{
        display: flex;
        justify-content: center;
        
    }
    /* estilo beneficios */
    .ajustarUbicacion{
        margin-top: 5px;
        margin-bottom: 10px;
        text-align: center;
  
       
    }
    .imagenUbicacion{
        width: 100%;
        height : 500px;

    }




/*  Media query Web*/
@media screen and (min-width: 768px) {
    .grid{
        display: grid;
        grid-template-areas: "header header nav nav" 
                            "article article article article"
                            "article article article article" 
                            "article article article article" 
                            "article article article article" 
                            "article article article article" 
                         
                            "footer footer footer footer"; 
        min-height: 100vh; 
        
    }
    .grid > header{
        grid-area: header;
        background-color: #023867;
        
        
    }
    
    .grid > nav{
        grid-area: nav;
        background-color: #023867;
       
       
    }
    
    .grid > article{
        grid-area: article;
        border: 1px solid black;
    }
    
    .grid > footer{
        grid-area: footer;
        border: 1px solid black;
        background-color: #023867;
    }
    .checkbtn{
        display: none;
  
    }
    .menu{
        position: absolute;
        right: 0;
        top: 80px;
        transition: none;
        text-align: right;
        
        background: none;
    }
    .menu li{
        display: inline-block;
        line-height: 10px;
        margin: 0 15px;
        list-style: none;
        transition: none ;


       
    }
    .menu li a{
        font-size: 20px;
        
        
    }
    .menu a:hover{
        background-color: #49aaff;
        color: rgb(204, 33, 33);
        border-radius: 20px;
        transition: 1s;
        font-size: 18px;
        
    }
    .menu ul{
        position: absolute;
        display: none;
        background-color: #074073;
        list-style: none;
        margin-top: 5px;
    }
    .menu ul li{
        display: block;
        line-height: 25px;
        padding: 10px;
        border-bottom: 1px solid white;
    }
    .menu  li:hover ul{
        display: block;
    }
    footer{
   
        background-color: #023867;
        color: rgb(248, 248, 248);
        padding: 25px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
        
    }
    .a__iconosRedes{
        width: 50px;
        height: 50px;
      
    }
    
    .logoEmpresa{
        width: 280px;
        height: auto ;  
     
    }
    
    
    .redesFooter__listaRedes{
        display: flex;
        justify-content: center;
        align-items: center;
      
      
    }
    .redesFooter__listaRedes li {
        width: 150px;
        height: 50px;
        list-style: none;
    }
    .ft-legal-list {
    
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        
      }
        .ft-legal-list li  a{
            margin: 0 10px;
            text-decoration: none;
            color: rgb(255, 252, 252);
           
        }
    
    
      .ft-legal-list li:nth-last-child(0) {
        
          flex: 1;
      }
    
    
      .redesFooter__listaRedes li{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .redesFooter{
          padding: 30px 0px;
      }
      .mainFooter img{
          width: 100px;
          height: 100px;
      }

    /* Index styles */
      .imagen{
        width: 400px;
        height: auto;
        float: left;
        clear: left;
        border: 2px solid #0e1318;
        margin-top: 5px;
        margin-right: 6px;
    }
    .imagen:hover{

        transition: 1s;
        transform: scale(1.03);
        margin-top: 10px;
        margin-right: 10px;
     
    }
    .imagen2{
        width: 400px;
        height: auto;
        float: right;
        clear: right;
        border: 2px solid #0e1318;
        margin-top: 5px;
        margin-left: 8px;
    }
    .imagen2:hover{

        transition: 1s;
        transform: scale(0.98);
        margin-top: 10px;
        margin-right: 10px;
     
    }
    .sections{
        padding: 50px;

    }
    .contentComoEmpezo__img{
        width: 400px;
        height: auto;
        float: left;
        clear: left;
        border: 2px solid #0e1318;
        margin-top: 5px;
        margin-right: 6px;
    }
    .contentComoEmpezo__img:hover{

        transition: 1s;
        transform: scale(1.03);
        margin-top: 5px;
        margin-right: 10px;
     
    }
    /* .content{

        width: 100%;
        max-width: 1000px;
        margin: auto;
        overflow: hidden;
        text-align: justify;
    }    */
    /* estilos eventos */

    .formularioForm{
        margin-top: 10px;
        width: 100%;
        max-width: 650px;
        background-color: #49aaff;
        padding: 40px;
        border-color: rgb(245, 54, 33);
        border-radius: 10px ;
        box-shadow: 0px 0px 10px #000;
    }
    .agruparSections{
        padding: 20px;
        text-align: justify;
    }

    
}

/*




.container--header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;

}
.container--header a {
    text-decoration: none;
    color: white;
    font-size: .9rem;
    text-align: center;
}
.container--header a img{
    width: 250px;
    height: 100%;
    margin-top: -60px;
}
.container--header a:hover{
    color: #90c0eb;
}
.container--header a:hover img{
    transition: 1s;
    transform: scale(1.05);
}



.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    list-style: none;
    margin-top: 65px;
}
.menu a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    text-align: center;
}
.menu a:hover{
    background-color: #49aaff;
    color: rgb(204, 33, 33);
    border-radius: 20px;
    transition: 1s;
    font-size: 18px;
}
.menu ul{
    position: absolute;
    display: none;
    background-color: #074073;
    list-style: none;
}
.menu ul li{
    display: block;
    padding: 10px;
    border-bottom: 1px solid white;
}
.menu  li:hover ul{
    display: block;
}

.irArriba{
    display: inline-block;
    padding: 20px;
    background:rgb(204, 33, 33);
    font-size: 20px;
    color : white;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 10px;

  }
  .irArriba:hover{
    background: #49aaff;
    color: rgb(255, 244, 244);
  }

/* Index estilos html */
/*
.titulo{
    text-align: center;
    margin-top: 10px;
    
}
.sections{
    
    width: 100%;

    margin:10px auto;
    text-align: justify;
   

}
.sections__subtitulos{
    margin-bottom: 5px;
 
 
}
/* Estilo de las imagenes */
/*
.imagen{
    width: 400px;
    height: auto;
    float: left;
    clear: left;
    border: 2px solid #0e1318;
    margin-top: 5px;
    margin-right: 6px;
}
.imagen:hover{
    transform: scale(1.04);
    transition: all 0.5s;
    margin-top: 10px;
    margin-right: 15px;
} 
.imagen2{
    width: 400px;
    height: auto;
    float: right;
    clear: right;
    border: 2px solid #0e1318;
    margin-top: 5px;
    margin-left: 8px;
}
.imagen2:hover{
    transform: scale(1.04);
    transition: all 0.5s;
    margin-top: 10px;
    margin-left: 15px;
} 
.overlay {

    position: absolute;
    
    width: 400px;
    height: auto;
    margin-top: 100px;
    margin-left: 190px;
    opacity: 0;
    transition: .5s ease;
    
  }

  .contenedor--imagen:hover .overlay {
    opacity: 1;
  }

  .text {
    color: rgb(13, 12, 12);
    font-size: 20px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .overlay2 {

    position: absolute;
    
    width: 400px;
    height: auto;
    left: 1110px;
    margin-top: 100px;
    opacity: 0;
    transition: .5s ease;
    
  }

  .contenedor--imagen:hover .overlay2 {
    opacity: 1;
  }

  .text2 {
    color: rgb(13, 12, 12);
    font-size: 20px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
/* Finaliza Index estilos html */


/* Estilos del footer */
/*
footer{
   
    background-color: #023867;
    color: rgb(248, 248, 248);
    padding: 25px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
    
}
.a__iconosRedes{
    width: 50px;
    height: 50px;
  
}

.logoEmpresa{
    width: 280px;
    height: auto ;  
 
}


.redesFooter__listaRedes{
    display: flex;
    justify-content: center;
    align-items: center;
  
  
}
.redesFooter__listaRedes li {
    width: 150px;
    height: 50px;
    list-style: none;
}
.ft-legal-list {

    display: flex;
    flex-wrap: wrap;
    list-style: none;
    
  }
    .ft-legal-list li  a{
        margin: 0 10px;
        text-decoration: none;
        color: rgb(255, 252, 252);
       
    }


  .ft-legal-list li:nth-last-child(0) {
    
      flex: 1;
  }


  .redesFooter__listaRedes li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .redesFooter{
      padding: 30px 0px;
  }
  .mainFooter img{
      width: 100px;
      height: 100px;
  }

    /* nav input#check, nav label {
        display: none;
        
    } */

/* Media Queries celular */
/*
@media screen and (max-width: 861px ) {
    .grid{
        display: grid;
        grid-template-areas: "header nav nav" 
                            "article article article"
                            "article article article "
                            "footer footer footer ";
        min-height: 100vh; 
        
    }
    
    .grid > header{
        grid-area: header;
        background-color: #78b3e6;
        border: 1px solid black;
        height: 21vh;
    }
    
    .grid > nav{
        grid-area: nav;
        background-color: #023867;
        border: 1px solid black;
        height: 21vh;
    }
    
    .grid > article{
        grid-area: article;
        border: 1px solid black;
    }
    
    .grid > footer{
        grid-area: footer;
        border: 1px solid black;
    }
    /* nav input#check, nav label {
        display: flex;
        justify-content: stretch;
        align-items: center;
        
    } */
    /*
    .nav{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }





    
} 