$fondoPrincipal : #023867;
$tonoTexto: rgb(204, 33, 33);
$tonoTexto2: #49aaff;

/* FOOTER */
@mixin aumento($tam){
    transform: scale($tam);
    color: $tonoTexto2;
}

footer{
    background-color: $fondoPrincipal;
     .mainFooter{
        .logoEmpresa{
            width: 100px;
            height: auto ;   
        }
    }
    .redes a i{
        color: #fff;
        transition: 2s all;
        &:hover{
           
            @include aumento(0.9);
            
        }
    }
    .derechosFooter a{
        text-decoration: none;
    }
}



