/* Navegacion*/
$fondoPrincipal : #023867;
$tonoTexto: rgb(204, 33, 33);
$tonoTexto2: #49aaff;

$tonosNav :(
    menu-li-a: antiquewhite,
    hover: $tonoTexto,
    sinHover: $tonoTexto2,
    fondo: $fondoPrincipal

);

.display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}
nav{
    background-color: $fondoPrincipal;
    .navbar-brand{
        @extend .display;
        align-items: center;
        .logoAcolsure{
            width: 70px;
            height: auto;
        }
    }
    .contenidoPrincipal{
        .menu{
            li a{
                color: map-get($tonosNav  , menu-li-a );
                transition: 1s all;
                &:hover{    
                    color: map-get($tonosNav  , hover );
                }   
            }
            .sublista{
                background-color:$fondoPrincipal;
                li a{
                    color: map-get($tonosNav  , sinHover );
                    &:hover{
                        color: map-get($tonosNav  , hover );
                    }
                }
            
            }
        }
        
    }
    .hamburguesa{
        background-color: map-get($tonosNav  , fondo );  
        &:hover{
            background-color: map-get($tonosNav  , hover );
        }
    }
}