body{
    background-color: #E0E0E0;
    font-family: 'IBM Plex Sans', sans-serif;
}

@import "navegador";
$fondoPrincipal : #023867;
$tonoTexto: rgb(204, 33, 33);
$tonoTexto2: #49aaff;
$border: 2px solid;
$shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
@import "footer";


/* Demas Sesiones*/

.irArriba{
    display: inline-block;
    padding: 10px;
    background:$tonoTexto;
    font-size: 20px;
    color : white;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 8px;
    border-radius: 10px;
    transition: 2s all;
    &:hover{
        background: $tonoTexto2;
        color: rgb(255, 244, 244);
       
    }

  }

  // .titulo{
  //   margin-top: 10px;
    
  // }

  .contenedorTodascards{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100% ;
    margin-bottom: 10px;
    box-sizing: border-box;
    .contenedorcard{
      margin-bottom: 10px;
      border-radius: 10px;
      box-shadow: $shadow;
    }
  }

  .imagenPlantilla{
    width : 100%;
    // border: $border $tonoTexto2;
    box-shadow: $shadow;
    transition: 1s all;
  }
  @mixin escalarTam ($tam){
    transform: scale($tam);
    
  }
  .imagenes{
    @extend .imagenPlantilla;
  }
  .imagenes:hover{
      @include escalarTam (0.98); 
  }
  // .imagenes,.imagenesHistoria{
  //   width : 100%;
  //   border: $border $tonoTexto2;
  // }
  .imagenesHistoria{
    @extend .imagenPlantilla;
    border-radius: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  .imagenesHistoria:hover{
    @include escalarTam (0.98); 
  }
  .imgQuines{
    border:none;
    box-sizing: border-box;
    margin-right: 15px;
    
   

  }
  // .imagenes:hover ,.imagenesHistoria:hover{
  //   transform: scale(0.98);
  //   transition: 1s;
  // }
  .tablaAjuste{
    position: relative;
    right: 12px;
  }

  
  tr{
    text-align: center;
    border: $fondoPrincipal;

  }


.imagenesTabla{
    width: 100px;
    height: auto;
    border-radius: 20px;
    border: $border $fondoPrincipal;
    transition: 1s all;
    &:hover{
      @include escalarTam (0.98);   
    }
}

.ajustarUbicacion{
    // border: $border $fondoPrincipal; 
    box-shadow: $shadow;
    margin-bottom: 10px;
    transition: 1s all;
    &:hover{
      @include escalarTam (0.98); 
    }
    .imagenUbicacion{
        width: 100%;
        height : 500px;
    }
}


.subsection{
    display: flex;
    justify-content: center;
    
}
.formularioForm{
    background-color: $tonoTexto2;
    padding: 40px;
    border-color: $tonoTexto;
    border-radius: 10px ;
    box-shadow: 0px 0px 10px #000;
    margin-bottom: 15px;
}
 .botonEnviar{
    margin-top: 10px;
    float: right;

} 

.probar {
    margin-top: 10px;
    background-image: url("../img/prueba.gif");
    background-size: cover;
    width: 100%;        
    height: 150px;
    box-shadow: #000 0px 0px 10px;
    text-shadow: rgb(118, 113, 113) 0px 0px 10px;
    border-radius: 20px;
    

}

.seccionEventos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    box-shadow:  $shadow;
    border-radius: 20px;
   

  }
  .seccionEventosAjustes{
   width: 100%;
  //  border: $border $fondoPrincipal;
 
  

  } 
  .seccionEventosAjustes a img{
    float: left;
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: 1s all;
    border-radius: 20px;
    &:hover{
      @include escalarTam (1.03); 
      
    }
   
  }
  

  .afiliacion{
    background-image: url("../img/fondoFormulario.jpg") ;
    background-size: cover;
  } 

  @media screen and (min-width: 768px) {
    .imagenes{
        width : 40%;
      }
      .formularioForm{
     
        margin-bottom: 15px;
        width: 50%;    

    }
    .imagenesTabla{
        width: 100%;
        height: auto;
        border-radius: 20px;
        border: $border $fondoPrincipal ;
    }
    .probar {
        margin-top: 10px;
        background-image: url("../img/prueba.gif");
        background-size: cover;
        width: 100%;        
        height: 500px;
    
    }
    .seccionEventosAjustes a img{
        float: left;
        width:  100%;
        height: 700px;
        object-fit: cover;
        transition: 1s all;   
      }


      .contenedorTodascards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        gap: 20px;
        margin-bottom: 10px;
        box-sizing: border-box;
        width: 100%;
        .contenedorcard{
          width: 30%;
          height: 560px;
          box-shadow: $shadow;
          
          .claseCardImages{
            width: 100% ;  
            height: auto;
          }
        }
      }
  }

