body{
    background-color: #E0E0E0;
    font-family: 'IBM Plex Sans', sans-serif;
}

@import "navegador";
$fondoPrincipal : #023867;
$tonoTexto: rgb(204, 33, 33);
$tonoTexto2: #49aaff;
$border: 2px solid;

@import "footer";


/* Demas Sesiones*/
.probar{
    border: $border black;
}
.irArriba{
    display: inline-block;
    padding: 20px;
    background:$tonoTexto;
    font-size: 20px;
    color : white;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 10px;
    transition: 2s all;
    &:hover{
        background: $tonoTexto2;
        color: rgb(255, 244, 244);
       
    }

  }
 

  .imagenes,.imagenesHistoria{
    width : 100%;
    border: $border $tonoTexto2;
  }
  .imgQuines{
    border:none;
    padding-right: 10px;

   
  }
  .imagenes:hover ,.imagenesHistoria:hover{
    transform: scale(0.98);
    transition: 1s;
  }
  .tablaAjuste{
    position: relative;
    right: 12px;
  }

  
  tr{
    text-align: center;
    border: $fondoPrincipal;

  }


.imagenesTabla{
    width: 100px;
    height: auto;
    border-radius: 20px;
    border: $border $fondoPrincipal;
    transition: 1s all;
    &:hover{
        transform: scale(0.98);   
    }
}

.ajustarUbicacion{
    border: $border $fondoPrincipal; 
    margin-bottom: 10px;
    transition: 1s all;
    &:hover{
        transform: scale(0.98);   
    }
    .imagenUbicacion{
        width: 100%;
        height : 500px;
    }
}


.subsection{
    display: flex;
    justify-content: center;
    
}
.formularioForm{
    background-color: $tonoTexto2;
    padding: 40px;
    border-color: $tonoTexto;
    border-radius: 10px ;
    box-shadow: 0px 0px 10px #000;
    margin-bottom: 15px;
}
 .botonEnviar{
    margin-top: 10px;
    float: right;

} 

.probar {
    margin-top: 10px;
    background-image: url("../img/prueba.gif");
    background-size: cover;
    width: 100%;        
    height: 150px;

}

.seccionEventos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
  .seccionEventosAjustes{
   width: 100%;
   border: $border $fondoPrincipal;

  } 
  .seccionEventosAjustes a img{
    float: left;
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: 1s all;
    &:hover{
        transform: scale(1.03);   
    }
   
  }
  

  .afiliacion{
    background-image: url("../img/fondo.jpeg") ;
    background-size: cover;
  } 

  @media screen and (min-width: 768px) {
    .imagenes{
        width : 40%;
      }
      .formularioForm{
     
        margin-bottom: 15px;
        width: 50%;    

    }
    .imagenesTabla{
        width: 100%;
        height: auto;
        border-radius: 20px;
        border: $border $fondoPrincipal ;
    }
    .probar {
        margin-top: 10px;
        background-image: url("../img/prueba.gif");
        background-size: cover;
        width: 100%;        
        height: 500px;
    
    }
    .seccionEventosAjustes a img{
        float: left;
        width:  100%;
        height: 700px;
        object-fit: cover;
        transition: 1s all;   
      }
  }

